{% extends 'base.html' %}
{% load crispy_forms_filters %}

{% block title %}<title>{{ object|yesno:"Update,Register" }}</title>{% endblock %}

{% block content %}
  <section class="vh-100">
    <div class="container-fluid h-custom">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-9 col-lg-6 col-xl-5">
          <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
            class="img-fluid" alt="Sample image">
        </div>
        <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
          <form action="" method="post" novalidate>
            {% csrf_token %}
            {{ form|crispy }}
            <input type="submit" class="site-btn btn btn-success" value="Submit"/>
            <a href="" class="site-btn btn btn-danger">Cancel</a>
          </form>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
