{% extends 'base.html' %}

{% block title %}
  <title>{{ dish.name }}</title>
{% endblock %}

{% block content %}

  <section class="single-post spad">
    <img class="dish-detail" src="{{ dish.dish_image.url }}" alt="dish photo">
    <div class="container">
      <div class="row d-flex justify-content-center">
        <div class="col-lg-8">
          <div class="single-post__title">
            <div class="single-post__title__text">
              <ul class="label">
                <li>{{ dish.dish_type }}</li>
                <li>price: {{ dish.price }}</li>
              </ul>
              <h3>{{ dish.name }}</h3>
            </div>
          </div>
          <div class="single-post__top__text">
            <h4><strong>Chefs who can prepare this dish:</strong></h4>
            {% if dish.cooks %}
              <ul>
                {% for cook in dish.cooks.all %}
                  <li><a href="{% url 'kitchen:cook-detail' pk=cook.id %}">{{ cook }}</a></li>
                {% empty %}
                  <p>No cooks.</p>
                {% endfor %}
              </ul>
            {% endif %}
          </div>
            <div class="single-post__recipe__details">
            <div class="single-post__recipe__details__option">
              <ul>
                <li><a href="#" class="btn btn-warning"> Add to my dishes</a></li>
                <li><a href="{% url 'kitchen:dish-update' pk=dish.pk %}" class="btn btn-success"> Update recipe</a></li>
                <li><a href="{% url 'kitchen:dish-delete' pk=dish.pk %}" class="btn btn-danger"> Delete recipe</a></li>
              </ul>
            </div>
            <div class="single-post__recipe__details__indegradients">
              <h5>Ingredients</h5>
              <p>{{ dish.ingredients }}</p>
            </div>
            <div class="single-post__recipe__details__direction">
              <h5>Directions</h5>
              <p>{{ dish.description }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock %}
