{% extends 'base.html' %}
{% load crispy_forms_filters %}

{% block title %}<title>{{ object|yesno:"Update,Register" }} new dish</title>{% endblock %}

{% block content %}
  <h1><small>{{ object|yesno:"Update,Register" }} new dish</small></h1>
  <div class="d-flex justify-content-center">
    <form action="" method="post" enctype="multipart/form-data" novalidate>
      {% csrf_token %}
      {{ form|crispy }}
      <input type="submit" class="site-btn btn btn-success" value="Submit"/>
      <a class="site-btn btn btn-danger" href="{% url 'kitchen:dish-list' %}">Cancel</a>
    </form>
  </div>
{% endblock %}
